db.url=jdbc:oracle:thin:@//localhost:1521/XEPDB1
db.username=system
db.password=Oracle@12345
db.driver=oracle.jdbc.OracleDriver
db.pool.maximumPoolSize=10
db.pool.minimumIdle=2
db.pool.connectionTimeout=30000
db.pool.idleTimeout=600000
db.pool.maxLifetime=1800000
